page-home {

}

.header {
  font-size: 1em;
  color: map-get($colors, textColor);
  background-color: map-get($colors, lightPrimary);
}

.arrows {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.scores {
  text-align: left;
  white-space:pre-wrap;
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  font-weight: normal;
}
