<ion-header>
  <ion-navbar>
    <ion-title><img src="assets/imgs/MindYourBrain.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="text-align:center">
  <h5><ion-list-header class="header" (click)="toggleWeekly()">Weekly progress <img id="weeklyArrow" [src]="weeklyArrow" class="arrows"></ion-list-header></h5>
    <ion-card id="weekly">
      <ion-card-header>Number of Games Played</ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas id="myChart"></canvas>
      </ion-card-content>
    </ion-card>
  <!-- <h5><ion-list-header class="header" (click)="toggleOverall()">Overall progress <img id="overallArrow" [src]="overallArrow" class="arrows"></ion-list-header></h5>
    <h6><ion-list id="overall">
      <ion-item *ngFor="let game of games" class="items">{{game}}</ion-item>
    </ion-list></h6> -->
  <h5><ion-list-header class="header" (click)="toggleHigh()">High Scores <img id="highArrow" [src]="highArrow" class="arrows"></ion-list-header></h5>
    <h6><ion-list id="high">
      <ion-item *ngFor="let game of games" class="items">{{getHighScore(game)}}</ion-item>
    </ion-list></h6>
</ion-content>
