page-list-recall-game {

}

.lCountdown {
  position: absolute;
  font-size: 12em;
  color: map-get($colors, darkPrimary) !important;
  left: 0px;
  top: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.lCounter {
  position: relative;
  top: -10px;
  font-size: 5em;
  color: map-get($colors, darkPrimary) !important;
  border: 1px solid map-get($colors, darkPrimary) !important;
}

.leftList {
  position: absolute;
  top: 15%;
}

.rightList {
  position: absolute;
  top: 15%;
  left: 50%;
}

.words {
  font-size: 2em;
}
