page-list-recall-game {

}

.lCountdown {
  position: absolute;
  font-size: 12em;
  color: map-get($colors, darkPrimary) !important;
  left: 0px;
  top: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.lCounter {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 4em;
  color: map-get($colors, darkPrimary) !important;
  border: 1px solid map-get($colors, darkPrimary) !important;
  width: 100%;
}

.buttonClass {
  font-size: 2.5em;
  background-color: map-get($colors, primary);
  color: map-get($colors, thirdTextColor);
  width: 100%;
  height: 100%;
}

.score {
  position: relative;
  text-align: center;
  font-size: 2em;
  color: map-get($colors, darkPrimary) !important;
}

.leftList {
  position: absolute;
  top: 15%;
}

.rightList {
  position: absolute;
  top: 15%;
  left: 50%;
}

.words {
  font-size: 2em;
}

.input {
  //text-input-highlight-color-valid: #2bfc28;
  position: absolute;
  font-size: 2em;
  top: 30%;//15
  left: 10%;
  width: 80%;
  height: 50px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  //border-bottom: 5px;
  border-color: #fcff54
}

.lColumn {
  padding: 0px !important;
}
