page-target-find-game {

}

.targetBackground1{
    background-image: url('../assets/imgs/target-find-game/jungle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.targetBackground2{
    background-image: url('../assets/imgs/target-find-game/desert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.object {
  //background: transparent;
  width: 50px;
  height: 50px;
  //display: block;
  position: absolute;
}

.hidden {
  display: none !important;
}

.counter {
  position: relative;
  top: -10px;
  font-size: 5em;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
}

.objectNum {
  position: relative;
  vertical-align: top;
  font-size: 2em;
  color: #ffffff !important;
}

.countdown {
  position: absolute;
  font-size: 12em;
  color: #ffffff !important;
  left: 0px;
  top: 20%;
  width: 100%;
  height: 80%;
  text-align: center;
}
